// FONT Maison Neue


// Light
/* 
@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-LightItalic.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-LightItalic.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-Light.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-Light.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}


*/

// Regular  
@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-Book.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-Book.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-Book.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-BookItalic.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-BookItalic.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-BookItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

// Medium
/*
@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-Medium.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-Medium.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-Medium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-MediumItalic.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-MediumItalic.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

*/


// Demi
/*
@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-Demi.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-Demi.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-Demi.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-DemiItalic.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-DemiItalic.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-DemiItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
*/


// Bold
@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-Bold.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-Bold.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue';
	src: url('./font/Maison-Neue/MaisonNeue-BoldItalic.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-BoldItalic.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-BoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}




// Mono Regular
@font-face {
	font-family: 'Maison Neue Mono';
	src: url('./font/Maison-Neue/MaisonNeue-Mono.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-Mono.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-Mono.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Maison Neue Mono';
	src: url('./font/Maison-Neue/MaisonNeue-MonoItalic.woff2') format('woff2'),
		url('./font/Maison-Neue/MaisonNeue-MonoItalic.woff') format('woff'),
		url('./font/Maison-Neue/MaisonNeue-MonoItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}





  
 